[submodule "src/--force"]
	path = src/--force
	url = https://github.com/Vetrox/numutils.git
[submodule "src/numutils"]
	path = src/numutils
	url = https://github.com/Vetrox/numutils.git
[submodule "numutils"]
	url = git@github.com:Vetrox/numutils.git
